= render 'homepage/header'
%body
  - if logged_in?
    - if !is_admin?(@current_user)
      - if @current_user.id == @user.id
        .info-container
          %h1.first-name
            = gravatar_for @user
            = @user.name
          .details-container
            .email-field
              Email: 
              = @user.email

          .buttons-container
            %button.edit-button EDIT
            %button.edit-button DELETE
      - else
        :javascript
          window.location.href="/"
    - else
      :javascript
        window.location.href="/admin"
  - else
    :javascript
      window.location.href="/"
