/* header & body & fonts */
$white: #f0f8ff;
$light_brown: #c78a54;

/* body */
$dropdown_white: #f1f1f1;
$dropdown_hover_white: #dddddd;
$light_gray: #c5c3c2;

/* footer */
$brown: #6e4525;

/* fonts */
$grey: #808080;
$red: #ff0000;

/* nouislider */
$connect_line: #77461E;
$slider_square_line: #A26836;
