.logo-icon {
    height: 32px;
    width: 32px;
    filter: invert(100%)
}

.food-image {
    height: 256px;
    width: 256px;
}

.social-media-icon {
    height: 24px;
    width: 24px;
    margin-right: 12px;
}

.cart-icon {
    height: 48px;
    width: 48px;
    padding: 6px;
}

.user-profile-icon {
    height: 36px;
    width: 36px;
    margin-left: 12px;
}

.img-product {
    height: 100px;
    width: 100px;
}
